/* Footer style */
footer{
	border-top: 1px solid #CCCCCC;
	background-color: white;
	height: 60px;
	width: 100%;	
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
}
